'use strict'

const Schema = use('Schema')

class AclUserRoleSchema extends Schema {
  up () {
    this.create('acl_user_roles', (table) => {
      table.increments()
      table.timestamps()
        table.integer('user_id')
        table.integer('acl_role_id')
    })
  }

  down () {
    this.drop('acl_user_roles')
  }
}

module.exports = AclUserRoleSchema
